* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  background: #f6f8fb;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
  position: relative;
}
.form-main {
  background: #fff;
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 40px;
  border-radius: 10px;
  margin: 0 auto;
}
.form-main-frame {
  background: #fff;
  width: 100%;
  /* max-width: 600px; */
  height: auto;
  padding: 40px;
  border-radius: 10px;
  margin: 0 auto;
}
.logo {
  text-align: center;
  margin-bottom: 20px;
}
.logo a {
  color: #000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}
.back-btn a {
  color: #000;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}
.login-account {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #000;
  text-align: center;
  margin: 30px 0 20px 0;
}
.continue-with {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  line-height: 26px;
}
.googel-box-main a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid rgb(169, 169, 169);
  height: 55px;
  border-radius: 10px;
}
.or-section {
  margin: 30px 0;
}
.or-section p {
  color: var(--3, #67696bb8);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  overflow: hidden;
}
.or-section p:before {
  right: 15px;
  margin-left: -50%;
}
.or-section p:before,
.or-section p:after {
  background: #ebebeb;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.or-section p:after {
  left: 15px;
  margin-right: -50%;
}
.input-main {
  position: relative;
}
.input-main input {
  width: 100%;
  height: 55px;
  font-size: 20px;
  color: #000;
  padding: 10px 50px;
  border: 2px solid rgb(169, 169, 169);
  border-radius: 10px;
}
.input-main1 {
  position: relative;
}
.input-main1 input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  color: #000;
  padding: 10px 40px;
  border: 2px solid rgb(169, 169, 169);
  /* border-radius: 10px; */
}
.email-svg {
  position: absolute;
  top: 15px;
  left: 20px;
}
.location-svg {
  position: absolute;
  top: 30px;
  left: 15px;
}
.eye-svg {
  position: absolute;
  top: 15px;
  right: 20px;
}
.input-main {
  margin-bottom: 20px;
}
.continue-btn {
  height: 55px;
  border: none;
  background: #bffb4f;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.continue-btn:hover {
  background: #000;
  color: #fff;
}
.continue-btn:hover .btn-arrow {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%)
    hue-rotate(287deg) brightness(109%) contrast(100%);
}
.forgot-pass {
  margin-top: 15px;
}
.forgot-pass a {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  line-height: 28px;
  border-bottom: 1px solid #000;
  display: inline;
}
.dont-account {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 1px;
  color: #67696bb8;
  margin-top: 25px;
  text-align: center;
}
.dont-account a {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 1px;
  color: #000;
  border-bottom: 1px solid #000;
  display: inline;
}
.car {
  position: absolute;
  left: -200px;
  bottom: 0;
  max-width: 200px;
  width: 100%;
}
@media (max-width: 1060px) {
  .car {
    display: none;
  }
}
